/Entropy.class
/Main.class
/PPMReaderWriter.class
/SZLReaderWriter.class
/Conversion.class
/Convert.class
/EightXEightBlock.class
/EightXEightBlocksMethods.class
/DCT.class
/Quantization.class
/Zigzag.class
/DPCM.class
